@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
.navheader ul{
list-style: none;
}
.navheader ul li{
    display: inline;
    padding: 10px;
}
.botonheader ul li{
    border: 1.5px solid black;
    border-radius: 4px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zapas{
    width: 353px;
    height: 353px;
    padding: 30px;
}

/*.img a img{
    width: 25px;
}
.imgimg{
    justify-content: flex-end;
}*/

.seccionimg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.caja{
    justify-content: space-around;
}
.imgfooter{
    display: flex;
    justify-content: space-evenly;
}
.imgfooter img{
    height: 40px;
}
header{
    background-color: #CCCBCB;
    max-width: 1500px;
    margin: 0 auto;
}
.secheader{
    display: flex;
}
main{
    max-width: 1700px;
    margin: 0 auto;
}