.zapas{
    width: 353px;
    height: 353px;
    padding: 30px;
}
.img a img{
    display: flex;
    justify-content: flex-end;
    width: 25px;
}
.seccionimg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.caja{
    justify-content: space-around;
}
.imgfooter img{
    height: 40px;
}