@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@1,200;1,500&display=swap');
/* fuente */
body{
    font-family: 'Poppins', sans-serif;
}
/*diferencia en el nav*/
.todo_calzado li{
    text-decoration: underline;
    color: black;
    font-weight: 900;
}
/*ajustes header*/
/*nav*/
.navheader{
    display: flex;
}
.navheader a{
    list-style: none;
    text-decoration: none;
}
.navheader ul li{
    display: inline;
    margin: 0 10px;
}
/*boton*/
.botonheader{
    padding: 20px;
}
.botonheader a{
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 4px;
}
.botonheader ul{
    display: flex;
}
.botonheader:hover .botonheader a{
    color: black;
}
/*header*/
header{
    display: flex;
    justify-content: space-between;
    background-color: #CCCBCB;
    max-width: 70%;
    margin: 0 auto;
}
.h{
    display: flex;
    justify-content: space-between;
}
.secheader{
    display: flex;
}
/*imagenes*/
.img{
    position: relative;
    width: 300px;
}
.zapas{
    width: 250px;
}
.zapas2{
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease;
}
.img:hover .zapas2{
    opacity: 1;
}
.img:hover .corazon{
    position: absolute;
}
.corazon{
    top: 0;
    position: absolute;
}
.corazon a img{
    width: 25px;
}
/*caja organización*/
.seccionimg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.caja{
    margin-top: 10px;
    padding: 10px;
    width: 20%;
}
/*main*/
main{
    max-width: 70%;
    margin: 50px auto;
}
/*ajustes footer*/
footer{
    padding: 20px;
    background-color: #CCCBCB;
}
.imgfooter{
    justify-content:space-evenly;
    display: flex;
    align-items: center;
}
.imgfooter img{
    height: 25px;
}
.nombre{
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nombre p{
    color: #808c8e;
}